**THEORY** **QUESTIONS**

1. What are data structures, and why are they important?

Ans Data structure is basically a way of organising and storing data, so that it can be easily accessed and manipulated efficiently.

They are important because:


*  Choosing the right data structure significantly impacts the efficiency and performance of your program.

*  
Well-chosen data structures can:
*  Simplify data manipulation (adding, removing, modifying elements)

2.  Explain the difference between mutable and immutable data types with examples.

Ans **Mutable data type:**
The data type which allows the user to add, remove or modify the data.
For example, List, dictionary, set etc.

**Immutable data type:**
The data type which does not allows the user to modify the data.
For example, Tuple, string etc.

3. What are the main differences between lists and tuples in Python?

Ans **Lists**:  
 List is muttable data type.

Iteration over lists is time-consuming.

Lists have several built-in methods.

**Tuples**:

 Tuples are immutable.

 Iterations over tuple is faster.

 Tuples have fewer built-in methods.

4. Describe how dictionaries store data.

Ans Dictionaries store unordered data in the form of key value pair. Each key is unique and immutable.

5. Why might you use a set instead of a list in Python?

Ans

6. What is a string in Python, and how is it different from a list?

Ans String is a data type in which characters arranged in an unchangeable order. Each character in the string can be accessed by its index, or position. Substrings can be extracted using slicing.

String is immutable where as List is muttable.

7. How do tuples ensure data integrity in Python?

Ans Immutability: Prevents unintentional changes

Hashability: Enables safe use as keys in sets/dictionaries

Consistency:	Guarantees stable structure & values

Semantic Clarity:	Signals data should not be modified

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans A hash table is a data structure that stores key-value pairs and allows for fast data retrieval based on the key. It works by applying a hash function to the key to determine where to store or retrieve the value in memory.

Speed: Key-based lookups are extremely fast.

Flexibility: Any hashable object (like strings, numbers, tuples) can be used as keys.

Reliability: Hash tables help maintain fast and predictable access to data even in large collections.

9. Can lists contain different data types in Python?

Ans Yes, list contains string, integer, float, boolean and even other data structures like dictionaries or nested lists.

10. Explain why strings are immutable in Python?

Ans Strings are immutable in Python, meaning once a string is created, it cannot be changed. Any operation that seems to modify a string actually creates a new string object.

Performance:	Reuse memory (string interning)

Hashability:	Use in dicts and sets safely

Thread Safety:	Avoid race conditions

Predictable Behavior:	Easier debugging and fewer bugs

11. What advantages do dictionaries offer over lists for certain tasks?

Ans **1. Fast Lookups (Constant-Time Access)**

Dictionaries provide O(1) average time complexity for lookup, insert, and delete operations using a key.

Lists require O(n) time for searching an item by value or index (if the position is unknown).

**2. No Need for Searching Keys**

With dictionaries, you directly access a value by its key.

With lists (especially lists of tuples), you often have to loop and check for the correct item.


**3.** **Avoiding Duplicates**

Dictionary keys are unique. This helps prevent duplicate keys and makes data integrity easier to maintain.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans A tuple is preferable over a list in scenarios where immutability, performance, or integrity is important. Here's a common and practical scenario:


Scenario: Representing Fixed Data Points (e.g., GPS Coordinates)

Imagine you're building a system to store and process GPS coordinates (latitude, longitude). Since each coordinate is a fixed pair of values that shouldn't change, a tuple is ideal.

13.  How do sets handle duplicate values in Python?

Ans Sets automatically remove duplicates.

Great for deduplication, membership testing, and set operations (union, intersection, difference).

Only immutable, hashable types can be set elements (e.g., numbers, strings, tuples‚Äînot lists or dictionaries).

14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?

Ans
üîπ**'in' with Lists:**

Checks if a value exists in the list.

Performs a linear search, so time complexity is O(n).

üîπ **'in' with Dictionaries:**

Checks if a key exists in the dictionary.

Uses a hash table, so time complexity is typically O(1).

15. Can you modify the elements of a tuple? Explain why or why not.

Ans No we can not modify the elements of a tuple because tuple is immutable data type. It promotes data integrity.

16. What is a nested dictionary, and give an example of its use case?

Ans A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store hierarchical or grouped data, where each key maps to another dictionary instead of a single value.
**Great for organizing complex data like:**

Students grouped by class

Products by category

Configurations by environment (dev, test, prod)

17. Describe the time complexity of accessing elements in a dictionary.

Ans Accessing an element by its key is extremely fast.

Python dictionaries use hash tables under the hood.

The key is hashed, and the hash is used to quickly find the value.

18. In what situations are lists preferred over dictionaries?

Ans **1. Order and Sequence Matter**

Lists maintain the order of elements naturally (from index 0 onward).

Great when we need to process items in a specific order.

**2. Homogeneous Data Collections**

Lists are suitable for storing repeated types of data, like a list of integers, strings, or objects.

**3. Maintaining Duplicates**

Unlike dictionaries (which require unique keys), lists allow duplicates.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans Dictionaries are unordered in intent: access by key, not position.

In Python 3.7+, they preserve insertion order, but that doesn't change their core behavior.

If we need index-based or ordered data processing, consider using a list.

**Practical** **questions**

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans **List**: Data Retrieved by Index (Position)

A list is an ordered collection.

Elements are accessed using their position (integer index).

**Dictionary**: Data Retrieved by Key

A dictionary is an unordered (logical) collection of key-value pairs.

Elements are accessed using their key, not index.

1. Write a code to create a string with your name and print it.

In [ ]:
Name = "Chhavi Gupta"
print("Name:", Name)

Name: Chhavi Gupta

2. Write a code to find the length of the string "Hello World".

In [ ]:
n = "Hello World"
len(n)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
n = "Python Programming"
n[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
n = "hello"
n.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
n = "I like apple"
n.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list = ['a', 'b', 'c', 'd']
list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
lst = [10, 20, 30, 40, 50]
lst[::-1]

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
n = (100, 200, 300)
print(n)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
Tuple = ('red', 'green', 'blue', 'yellow')
Tuple[1:4]

('green', 'blue', 'yellow')

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple = (10, 20, 5, 15)
min(tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('mango', 'apple', 'kiwi')
for i in fruits:
  if i == 'kiwi':
    print(True)

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
a = {'a', 'b', 'c'}
print(a)

{'b', 'c', 'a'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set = {1, 2, 3,4,5}
set.clear()
print(set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
set1|set2

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}
set1&set2

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
Dict = {"name":"chhavi ", "age":19, "city":"delhi"}
Dict

{'name': 'chhavi ', 'age': 19, 'city': 'delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [ ]:
dict = {"name":"John", "age":25,}
dict["country"] = "USA"
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
Dict = {"name":"Alice", "Age":30}
Dict["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict = {"name":"Bob", "age":22, "city":"New York"}
del dict["age"]
dict

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict = {"name":"Alice", "city":"Paris"}
i = "city"
if i in dict:
  print(True)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list = [1,2,3,4]
print(list)
tuple = ("hello world!")
print(tuple)
dict = {"name":"chhavi", "age":19}
print(dict)

[1, 2, 3, 4]
hello world!
<class 'type'>
{'name': 'chhavi', 'age': 19}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
list = [3,8,98,67,76]
list.sort()
list

[3, 8, 67, 76, 98]

28.  Write a code to create a list with strings and print the element at the third index.

In [ ]:
list = ["Mango", "Apple", "Lemon", "Cherry"]
list[2]

'Lemon'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name":"Ram", "age":24, "contact":94668}
dict2 = {"city":"Paris", "status":"singe"}
dict1.update(dict2)
dict1

{'name': 'Ram',
 'age': 24,
 'contact': 94668,
 'city': 'Paris',
 'status': 'singe'}

30.  Write a code to convert a list of strings into a set.

In [ ]:
list = ["apple", "mango", "pear", "cherry"]
set(list)

{'apple', 'cherry', 'mango', 'pear'}